services:
  manticore:
    container_name: manticore
    image: manticoresearch/manticore
    environment:
      - EXTRA=1 #  enable Manticore Columnar Libraryâ ,  Manticore Buddy(for feature like fuzzy search) during runtime
      # - CREATE_PLAIN_TABLES=1 # build all plain tables, fill table name to build only specific plain tables. Went wrong if no table defined in config
    # restart: always
    ports:
      - 9306:9306 # for MySQL clients
      - 9308:9308 # for HTTP clients
      # - "9312:9312"  # for inter-manticore communication
    ulimits:
      nproc: 65535
      nofile:
         soft: 65535
         hard: 65535
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./manticore.conf:/etc/manticoresearch/manticore.conf
      - ./data:/var/lib/manticore
      # - ./init-scripts:/init-scripts
      - ./init-scripts/create-tables.sql:/sandbox.sql
    # command: >
    #   sh -c "
    #     /usr/bin/searchd -c /etc/manticore/manticore.conf &&
    #     chmod +x /init-scripts/init-manticore.sh &&
    #     /init-scripts/init-manticore.sh
    #   "
